<div class="modal-header">
    <h3 class="modal-title">Create a new  <label ng-if="secured">Private</label> <label ng-if="!secured">Public</label> blog</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <input type="text" class="form-control" placeholder="Name" ng-model="name" maxlength="45">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <input type="text" class="form-control" placeholder="Title" ng-model="title" maxlength="45">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <textarea type="text" class="form-control" placeholder="Description" ng-model="description" maxlength="100"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12" align="center">
            <button ng-click="setSecuredValue(false)" type="button" class="btn btn-sm btn-primary">Blog is Public</button>
            <button ng-click="setSecuredValue(true)" class="btn btn-sm btn-default">Blog is Private</button>
        </div>
    </div>
    <div class="row" ng-if="secured">
        <div class="col-lg-10 col-lg-offset-2">
            Note: Private sites can only be viewed by other bloggers.
        </div>
    </div>
    <div class="row" ng-if="!secured">
        <div class="col-lg-10 col-lg-offset-2">
            Note: Public sites can be viewed by anyone on the internet.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2" ng-show="exists === true">
            <div align="center">
                <p class="warning-text">** a blog with that name already exits **</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm" ng-disabled="!validateBlogInformation()" type="button" ng-click="save()">Save Blog</button>
    <button class="btn btn-sm" type="button" ng-click="cancel()">Cancel...</button>
</div>