<div class="modal-header">
    <h3 class="modal-title">Edit existing Blog</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <input type="text" class="form-control" placeholder="Name" maxlength="45">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <input type="text" class="form-control" placeholder="Title"  maxlength="45">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <textarea type="text" class="form-control" placeholder="Description"  maxlength="100"></textarea>
        </div>
    </div>
    <br>
    <div class="row" align="left">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="checkbox">
                <label><input type="checkbox"  > Toggle Security</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" > Enable or Disable</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div align="center">
                <p class="warning-text">** a blog with that name already exits **</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>