<div class="modal-header">
    <h4 class="modal-title">Edit existing Blog: {{title}}</h4>
</div>
<div class="modal-body">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div align="center">
                Title:
            </div>
            <input type="text" class="form-control" placeholder="Title" ng-model="blog.title" maxlength="45">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div align="center">
                Description:
            </div>
            <textarea type="text" class="form-control" placeholder="Description" ng-model="blog.description" maxlength="100"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
            <button ng-click="setSecuredBlog(false)" type="button" class="btn btn-sm btn-info">Blog is Public</button>
            <button ng-click="setSecuredBlog(true)" type="button" class="btn btn-sm btn-default">Blog is Private</button>
        </div>
        <div class="col-lg-6">
            <button ng-click="setEnabledBlog(true)" type="button" class="btn btn-sm btn-info">Blog is Enabled</button>
            <button ng-click="setEnabledBlog(false)"  type="button" class="btn btn-sm btn-default">Blog is Disabled</button>
        </div>
    </div>
    <div class="row" align="left">
        <div class="col-lg-4 col-lg-offset-2">
            Blog is <label ng-if="blog.secured">private</label> <label ng-if="!blog.secured">public</label>
        </div>
        <div class="col-lg-4 col-lg-offset-1">
            Blog is <label ng-if="blog.enabled">enabled</label> <label ng-if="!blog.enabled">disabled</label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm" ng-disabled="!validateBlogInformation()" type="button" ng-click="save()">Save</button>
    <button class="btn btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>