<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            Editing content for:
            Data ID: {{data.dataId}}<br>
            <b>Blog name:</b> {{data.blogName}}<br>
            <b>Created on: </b><span>{{data.created | date:'medium'}}</span><br>
            Data is <label ng-if="data.enabled">enabled</label> <label ng-if="!data.enabled">disabled</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <button type="button" ng-click="toggleDataEnabled(true)" class="btn btn-sm btn-primary">Enable Data</button>
            <button type="button" ng-click="toggleDataEnabled(false)" class="btn btn-sm btn-default">Disable Data</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div id="data" ckeditor="options" ng-model="data.data" ready="onReady()"></div>
        </div>
    </div>
    <br>
</div>
<div class="modal-footer">
    <button ng-disabled="!canSaveData()" class="btn btn-sm" type="button" ng-click="save()">Save</button>
    <button class="btn btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>