<div class="container blog-background" ng-controller="404Controller">
    <br>
    <hr>
    <div align="center">
        <font size="7">404</font>
        <b><p>Page not found</p></b>
    </div>
    <hr>
    <div align="center">
        <p>The content you were looking for does not exist...</p>
    </div>
    <br>
    <div ng-if="!authenticated" align="center">
        <a href="/#/login">click here to login</a>
    </div>
    <div ng-if="authenticated" align="center">
        <a href="/#/landing">click here to view your sites</a>
    </div>
    <br>
    <br>
</div>