<div ng-if="!infoAndDataLoaded" class="container" align="center">
    <img src="/static/angular/public/lib/image/loading.gif">
    <h4>Loading...</h4>
</div>
<div ng-if="infoAndDataLoaded" class="container blog-background" ng-controller="BlogController">
    <br>
    <div class="row">
        <div align="center">
            <h2>{{blog.title}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-1">
            <div>
                {{blog.description}}
            </div>
            <div>
                by <a href="mailto:{{blogOwner.username}}">{{blogOwner.username}}</a>
            </div>
            <div>
                <span class="glyphicon glyphicon-time"></span> Posted on {{created | date:'medium'}} by {{blogOwner.firstName}} {{blogOwner.lastName}}
            </div>
        </div>
        <div class="col-lg-3 col-lg-offset-2">
            <div ng-repeat="date in dates | limitTo:3">
                <li><a href="/#/blog/Site/{{blogName}}/{{date}}">{{date| date:'fullDate'}}</a></li>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-lg-4 col-lg-offset-1" ng-show="currentUser.username === blogOwner.username && currentUser.authenticated">
            <button class="btn btn-primary" ng-click="createNewPosting()">Add New Post</button>
        </div>
    </div>
    <br>
    <div class="row" ng-if="viewingNewPost === true ">
        <div class="col-lg-10 col-lg-offset-1">
            <script type="text/ng-template" id="alert.html">
                <div class="alert new-posting-alert" role="alert">
                    <div ng-transclude></div>
                </div>
            </script>
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        </div>
    </div>
    <div ng-if="enableNoContent() && !currentUser.authenticated && infoAndDataLoaded">
        <div class="row">
            <div class="col-lg-12" align="center">
                <h1>No data is available for this posting</h1>
                <p>Please try again or login to create a blog</p>
            </div>
        </div>
    </div>
    <div ng-repeat="data in data" ng-if="dataEnabledOrOwner(data.enabled)">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" ng-if="currentUser.username === blogOwner.username && currentUser.authenticated">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div align="left">
                            Posting number: #{{data.orderId}}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6">
                            Enabled Status: <u>{{data.enabled}}</u> | Date Created: <u>{{data.created | date:'medium'}}</u>
                        </div>
                        <div class="col-lg-2 col-lg-offset-4">
                            <button  ng-click="openEditDataModal(data)" type="button" class="btn btn-sm btn-default">Click to edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" ng-bind-html="data.data | trustAsHtml">
                {{data.data}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <hr class="blog-divider">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <a ng-show="previousPosting > 0" href="/#/blog/Site/{{blogName}}/{{previousPosting}}">Previous Posting </a> <text ng-show="previousPosting > 0 && nextPosting > 0">|</text>
            <a ng-show="nextPosting > 0" href="/#/blog/Site/{{blogName}}/{{nextPosting}}">Next Posting</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1">
        <h4>Leave a comment:</h4>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="commentOwner" placeholder="email@address">
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <textarea class="form-control" ng-model="comment" rows="3" maxlength="400"></textarea>
            </div>
        </div>
        </div>
            <button ng-disabled="!validateCommentInformation()" type="submit" class="btn btn-primary" ng-click="saveBlogComment()">Submit</button>
        </div>
    </div>
    <div class="row">
        <div align="center" ng-if="comments.length === 0">
            <b>There are no comments</b>
            <br>
            <br>
        </div>
    </div>
    <div class="row" ng-if="comments.length > 0">
        <div class="col-sm-5 col-sm-offset-1">
            <div ng-repeat="comment in comments">
                <h4>Comment posted by <a href="mailto:{{comment.commentOwner}}">{{comment.commentOwner}}</a></h4>
                <p>{{comment.commentPosted | date:'medium'}}</p>
                <p>{{comment.comment}}</p>
                <div  ng-show="currentUser.username === blogOwner.username && currentUser.authenticated">
                    <button type="button" class="btn btn-default" ng-click="deleteComment(comment)">Delete</button>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="row" ng-show="data.length < 1">
        <div class="col-lg-10 col-lg-offset-4">
            <h2>No blog posts are available</h2>
        </div>
    </div>
    <br>
</div>