<br>
<div align="center" class="container-fluid col-md-4 col-md-offset-4" ng-controller="CreateController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <p><b>Create your blogger account</b></p>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="createAccountForm" ng-submit="saveNewAccount()">
                <div class="row">
                    <div class="col-md-12">
                        <input type="email" class="form-control" ng-model="userId" placeholder="Email Address" max="45" min="3" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" max="45" min="2" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" max="45" min="2" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" class="form-control" ng-model="password" placeholder="Password" max="30" min="5" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <p>Note: all fields are required</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="button" ng-click="resetFields()">Reset Fields..</button>
                        <button class="btn btn-primary" type="submit" ng-disabled="createAccountForm.$invalid">Click to Create</button>
                     </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <p>Click <a href="/#/login">here</a> to return to the login page...
                    </div>
                </div>
                <br>
                <div class="row" ng-show="!results">
                    <div class="col-sm-12">
                        <p>** Account already exists  - please select a different userId **</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>