
<html lang="en" ng-app="BloggerApp" ng-controller="LoginController" id="blogger-main">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <link rel="stylesheet" href="/static/angular/public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/angular/public/lib/css/custom.css">

    <!-- AngularJS Resources -->
    <script src="/static/angular/public/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/angular/public/lib/angular/angular.min.js"></script>
    <script src="/static/angular/public/lib/angular-messages/angular-messages.min.js"></script>
    <script src="/static/angular/public/lib/angular-resource/angular-resource.min.js"></script>
    <script src="/static/angular/public/lib/angular-route/angular-route.min.js"></script>
    <script src="/static/angular/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/angular/public/lib/angular-toArrayFilter/toArrayFilter.js"></script>
    <script src="/static/angular/public/lib/ui-bootstrap/ui-bootstrap-tpls-1.2.5.min.js"></script>
    <script src="/static/angular/public/lib/ngDraggable/ngDraggable.js"></script>
    <script src="/static/angular/public/lib/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="/static/angular/public/lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/static/angular/public/lib/ckeditor/ckeditor.js"></script>
    <script src="/static/angular/public/lib/angular-ckeditor/angular-ckeditor.min.js"></script>

    <!-- BloggerApp JS -->
    <script src="/static/angular/public/src/BloggerApp.js"></script>

    <!-- BloggerApp JS controllers -->
    <script src="/static/angular/public/src/controller/LoginController.js"></script>
    <script src="/static/angular/public/src/controller/LandingController.js"></script>
    <script src="/static/angular/public/src/controller/CreateController.js"></script>
    <script src="/static/angular/public/src/controller/CreateBlogController.js"></script>
    <script src="/static/angular/public/src/controller/EditBlogController.js"></script>
    <script src="/static/angular/public/src/controller/BlogController.js"></script>
    <script src="/static/angular/public/src/controller/EditDataController.js"></script>
    <script src="/static/angular/public/src/controller/SearchController.js"></script>
    <script src="/static/angular/public/src/controller/404Controller.js"></script>

    <!-- BloggerApp JS filters -->
    <script src="/static/angular/public/src/filter/TrustAsHtmlFilter.js"></script>

    <!-- BloggerApp JS services -->
    <script src="/static/angular/public/src/service/AuthService.js"></script>
    <script src="/static/angular/public/src/service/UserService.js"></script>
    <script src="/static/angular/public/src/service/BloggerService.js"></script>
    <script src="/static/angular/public/src/service/InputValidationService.js"></script>
    <script src="/static/angular/public/src/service/AlertService.js"></script>
</head>
<body ng-controller="LoginController" class="login-background">
<nav class="navbar navbar-inverse" class="ng-hide">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand">Blogger</p>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" ng-show="authenticated">
                <li><a href="/auth/logout">Click here to logout</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-show="!authenticated">
                <li><a href="/#/login">Login</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-show="authenticated">
                <p class="navbar-text">Welcome, {{user.username}}</p>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav" ng-show="authenticated">
                    <li><a href="/#/landing">My Sites</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search" ng-submit="executeSearch()">
                    <div class="form-group">
                        <input type="text" ng-model="searchValue" class="form-control" placeholder="Blog Search">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div ng-view>
    </div>
</div>
</body>
</html>