<br>
<div ng-if="!loaded" class="container" align="center">
    <img src="/static/angular/public/lib/image/loading.gif">
    <h4>Loading...</h4>
</div>
<div class="row" ng-if="loaded" ng-controller="LandingController">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <p>Your Blogs are listed below</p>
            </div>
            <div class="panel-body">
                <br>
                <div class="row">
                    <div class="col-lg-12" align="center" ng-if="blogs.length === 0">
                        <br>
                        <h1>You currently have zero websites configured</h1>
                        <p>please click on the button below to create a new blog.</p>
                        <br>
                    </div>
                </div>
                <div ng-if="blogs.length > 0">
                    <div class="well">
                        <div ng-repeat="blog in blogs">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <p><a href={{linkBuilder(blog.name)}}>{{blog.title}}</a></p>
                                        <p>{{blog.description}}</p>
                                    </div>
                                    <div class="col-lg-5" align="right">
                                        <button class="btn btn-default" ng-click="openEditBlogModal(blog)">Edit Blog</button>
                                        <button class="btn btn-default" ng-click="deactivateBlog(blog.name)">Delete Blog</button>
                                    </div>
                                </div>
                                <br>
                        </div>
                    </div>
                </div>
                <div class="blog-deleted-success" ng-if="blogDeleted && blogDeletedName.length > 0" align="center">
                    <p>** Blog "{{blogDeletedName}}" was succesfully deleted **</p>
                </div>
                <div class="col-lg-12" align="center">
                    <button ng-disabled="blogTotal === maxBlogsAllowed" type="button" class="btn btn-primary" ng-click="openNewBlogModal()">Create Blog</button>
                </div>
                <div class="col-gl-12" align="center" ng-show="blogTotal === maxBlogsAllowed">
                    <p>You are currently at the maximum number of allowed sites.</p>
                </div>
            </div>
        </div>
    </div>
</div>