<div align="center" ng-controller="LoginController" class="container-fluid col-md-4 col-md-offset-4">
    <br>
    <div class="panel panel-info">
        <div class="panel-heading">
            <p><b>Blogger Login</b></p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" ng-model="username" placeholder="Username">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="password" class="form-control" ng-model="password" placeholder="Password">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="button" ng-click="login()" ng-disabled="!validateCredentials()">Click to login</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <p>Need an account? Click <a href="/#/create">here</a></p>
                    <p ng-show="!loginSuccessful" class="ng-hide">* Login failed - try again or create a new account *</p>
                </div>
            </div>
        </div>
    </div>
</div>