<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <p>Search results for: '{{searchItem}}'</p>
            </div>
            <div class="panel-body">
                <div class="row" ng-if="total > 0">
                    <div class="col-lg-12">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <td><b>Blog</b></td>
                                    <td><b>Owner</b></td>
                                    <td><b>Description</b></td>
                                    <td><b>Created</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="blog in blogs">
                                    <td><a href={{searchLinkBuilder(blog.name)}}>{{blog.title}}</a></td>
                                    <td><a href="mailto:{{blog.owner}}">{{blog.owner}}</a></td>
                                    <td>{{blog.description}}</td>
                                    <td>{{blog.created | date: 'medium'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div align="center">
                        <p>Blogs tha match the search value are listed above</p>
                    </div>
                </div>
                <div class="row" ng-if="total === 0">
                    <div class="col-lg-12" align="center">
                        <h3>No search results found for <u>'{{searchItem}}'</u></h3>
                        <p>Please try another search</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>